*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.884);
}

main{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
}

#teste{
    display: flex;
    justify-content: center;
}

#fundo{
    background-color: black;
    width: 800px;
    height: 750px;
    margin-top: 4%;
    border-radius: 100px;
}

span{
    color: #5EECF5;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

.quadrado{
    background: linear-gradient(to left, #5EECF5, #024751);
    width: 500px;
    height: 500px;
    transform: rotate(-110deg);
    border-radius: 130px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;

}

p{
    font-size: xx-large;
}

#concord{
    font-size: 25px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#chat{
    color: white;
}

h1{
    color: white;
    font-size: 60px;
    font-family: Arial, sans-serif;
}

span{
    color:#5EECF5;
}

.titulo{
    display: flex;
    margin-top: 2%;
}

.dConcord{
    text-align: right;
    flex: 1;
}

.dImg{
    flex: 1;
}

/*--------------- login --------------*/
input{
    height: 35px;
    border-radius: 10px;
    width: 290px;
}

#ajuste{
    transform: rotate(110deg);
    background-color: #024751;
    height: 60%;
    width: 60%;
    align-items: center;
    margin-top: 110px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

label{
    text-align: center;
}

.tam{
    width: 60px;
    height: 50px;
}