*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.884);
}

main{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
}

#teste{
    display: flex;
    justify-content: center;
}

#fundo{
    background-color: black;
    width: 800px;
    height: 750px;
    margin-top: 4%;
    border-radius: 100px;
}

span{
    color: #5EECF5;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

.quadrado{
    background: linear-gradient(to left, #5EECF5, #024751);
    width: 500px;
    height: 500px;
    transform: rotate(-110deg);
    border-radius: 130px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;

}

p{
    font-size: xx-large;
}

#concord{
    font-size: 25px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#chat{
    color: white;
}

h1{
    color: white;
    font-size: 60px;
    font-family: Arial, sans-serif;
}

span{
    color:#5EECF5;
}

.titulo{
    display: flex;
    margin-top: 2%;
}

.dConcord{
    text-align: right;
    flex: 1;
}

.dImg{
    flex: 1;
}
/*--------------- login --------------*/
input{
    height: 35px;
    border-radius: 10px;
    width: 290px;
}

#ajuste{
    transform: rotate(110deg);
    /*background-color: #024751;*/
    height: 60%;
    width: 60%;
    align-items: center;
    margin-top: 110px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
}




label{
    text-align: center;
}

.tam{
    width: 60px;
    height: 50px;
}

.a{
    color: white;
    font-size: 18px;
}
.a:hover{
    text-align: center;
    color: #5EECF5;
    box-shadow: 0 0 1px 1px #5EECF5 inset;
}


.entrar{
    width: 90px;
    height: 35px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2 ease;
    font-size: 18px;
    margin-left: 32%;
    margin-top: 50px;
}
.entrar:hover{
    transform: translateY(-4px);
}
#E{
    color: black;
}







.cadastro{
    transform: rotate(110deg);
    bottom: 0;
}