*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: start;
    background: linear-gradient(to bottom, #5EECF5, #024751);
    width: 100%;
    text-align: start;
}


#teste{
    display: flex;
    justify-content: center;
}

#fundo{
    background-color: black;
    width: 100%;
    height: 970px;
}




/*---------------------------------------------*/
#chat{
    color: white;
    text-align: end;
    font-size: medium;
}

h1{
    color: white;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

span{
    color:#5EECF5;
}

.titulo{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dConcord{
    text-align: right;
    flex: 1;
}

.dImg{
    flex: 1;
}

#logo{
    width: 80px;
    margin-left: 20px;
}
/*-----------------------------------------------*/

/*------------ VOLTAR ------------*/

#voltar{
    border-bottom: 1px gray solid;
    height: 70px;
}

.vol{
    width: 70px;
    height: 70px;
    margin-left: 60px;
}
.vol:hover{
    transform: translateX(-6px);
}

/*--------------------------------*/

/*---------- perfil -----------*/

#perfil{
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    height: 300px;
    border-bottom: 1px white solid;

}

#per{
    width: 250px;
    height: 250px;
    margin-top: 25px;
}

#pp{
    margin-top: 30px;
    color: white;
    border-bottom: 1px white solid;
    height: 45px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px;
}

/*-----------------------------*/

/*------------- descricao -------------*/

#descricao{
    height: 300px;
}

textarea{
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    resize: none;
    font-size: 30px;
}

/*--------------------------------------*/

/*---------------- butão ---------------*/

#butao{
    height: 90px;
    display: flex;
    justify-content: end;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;
}

.favorito{
    width: 80px;
    background: linear-gradient(to bottom, #5EECF5, #024751);
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.favorito:hover{
    transform: translateY(-4px);
}

.bloqueados{
    width: 80px;
    background: linear-gradient(to bottom, #5EECF5, #024751);
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.bloqueados:hover{
    transform: translateY(-4px);
}

.denuncia{
    width: 80px;
    background: #450000;
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.denuncia:hover{
    transform: translateY(-4px);
}

.imagem{
    width: 80px;
}

/*----------------------------------------*/