*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.884);
}

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #5EECF5, #024751);
    width: 100%;
    height: 90px;
    text-align: start;
}


#alinhar{
    display: flex;
    justify-content: center;
}

#fundo{
    background-color: black;
    width: 100%;
    height: 950px;

    /*
    border-end-end-radius: 100px;
    border-end-start-radius: 100px;
    */
    
}


/*-------------------- header ----------------------*/
#chat{
    color: white;
    text-align: end;
    font-size: smaller;
}

h1{
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

span{
    color:#5EECF5;
}

.titulo{
    display: flex;
    margin-top: 1.5%;
}

.dConcord{
    text-align: right;
    flex: 1;
}

.dImg{
    flex: 1;
}

#logo{
    width: 50px;
    margin-left: 20px;
}



#pes_ini{
    background: white;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 350px;
    border-end-start-radius: 80px;
}
input{
    font-size: x-large;
    width: 280px;
    border-bottom: 1px solid black;
    background: white;
}
#luneta{
    width: 35px;
    height: 35px;
}
/*-----------------------------------------------*/

/*----------------------- filtro ---------------------*/

#filtros{
    background-color: #5C5C5C;
    width: 100%;
    height: 40%;
    margin-top: 5%;
    border-end-start-radius: 60px;
    display: flex;
    justify-content: space-between;
}


#pes_fil{
    background: white;
    width: 200px;
    display: flex;
    justify-content: start;
    height: 40px;
    border-end-end-radius: 50px;
}
#fil{
    width: 140px;
    background:white;
    height: 30px;
    font-size: medium;
}
#img_fil{
    width: 40px;
}
/*----------------------------------------------------*/
/*------------------------contatos---------------------*/

.contato{
    width: 300px; /* Largura da caixa */
    height: 300px; /* Altura da caixa */
    overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
    border: 1px solid #024751; /* Borda da caixa */
    padding: 10px; /* Espaçamento interno */
    margin-left: 5%;
    margin-top: 3%;
}

.contatos{
    width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boneco{
    width: 50px;
    height: 40px;
}
.usuario{
    width: 200px;
    height: 45px;
    font-size: 30px;
    background: #848484;
    color: white;
    border-radius: 50px;
    margin-left: 10px;
}
/*-----------------------------------------------------*/

.scroll-container {
    width: 400px; /* Largura da caixa */
    height: 250px; /* Altura da caixa */
    overflow-y: scroll; /* Adiciona a barra de rolagem vertical */
    border: 1px solid none; /* Borda da caixa */
    padding: 10px; /* Espaçamento interno */
}

.opcao {
    margin: 10px 0;
    border-radius: 50px;
    background: #ACACAC;
    width: 150px;
    height: 40px;
    font-size: 30px;
}
.opçao{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 9px;
}